<div class="contactMe mt-4">
  <div class="list-group col-md-10">
    <div class="list-group-item list-group-item-action"><i class="material-icons">email</i>&nbsp;&nbsp;Email:&nbsp;&nbsp; lixing.usc@gmail.com</div>
    <div class="list-group-item list-group-item-action"><i class="material-icons">phone</i>&nbsp;&nbsp;Telephone:&nbsp;&nbsp; 213-4470-592</div>
    <div class="list-group-item list-group-item-action"><i class="material-icons">question_answer</i>&nbsp;&nbsp;WeChat:&nbsp;&nbsp; lixing5719</div>
    <a href="https://github.com/TrojanXing" class="list-group-item list-group-item-action"><i class="material-icons">code</i>&nbsp;&nbsp;Github</a>
    <a href="https://www.linkedin.com/in/xingli-usc/" class="list-group-item list-group-item-action"><i class="material-icons">work</i>&nbsp;&nbsp;Linkedin</a>
  </div>
</div>
