<div class="jumbotron">
  <div class="container">
    <h1 class="display-5 mb-3"> Blog </h1>
    <p class="mb-0">Record and share your life anytime</p>
    <p>Easy to use, totally free</p>
    <!--<p id="signupBtn"><a class="btn btn-primary" data-toggle="modal" data-target="#signupModal"-->
    <!--data-whatever="@mdo" href="#" role="button">Sign up</a></p>-->
    <button routerLink="/register" type="button" class="btn btn-primary" role="button">Sign up</button>
  </div>
</div><!-- ./jumbotron -->

