<!-- Message -->
<div class="show-hide-message mt-4" *ngIf="message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>
<!-- form -->
<div class="reportBugs mt-2">
  <form [formGroup]="form" name="blogForm" (submit)="onBugsSubmit()">
    <div class="form-group">
      <label for="blogTitle">这么点bug就要把我批判一番</label>
      <input type="title" class="form-control" id="blogTitle"
             placeholder="Title" formControlName="title"
             [ngClass]="{'is-valid': form.controls.title.valid,
                         'is-invalid': form.controls.title.errors && form.controls.title.dirty}">
      <ul [ngClass]="{'valid-feedback': form.controls.title.valid,
                      'invalid-feedback': form.controls.title.errors && form.controls.title.dirty}">
        <li *ngIf="form.controls.title.errors?.required && form.controls.title.dirty">This field is required</li>
        <li
          *ngIf="(form.controls.title.errors?.minlength || form.controls.title.errors?.maxlength) && form.controls.title.dirty">
          Length between 5 and 50
        </li>
        <li *ngIf="form.controls.title.errors?.titleValidator && form.controls.title.dirty">Bugs title should include
          only letters and number
        </li>
        <li *ngIf="titleMessage">{{ titleMessage }}</li>
      </ul>
    </div>
    <div class="form-group">
      <label for="exampleTextarea">还说我的程序有bug，哼，你们另请高明吧</label>
      <textarea class="form-control" id="exampleTextarea" rows="10" cols="50"
                formControlName="body"
                [ngClass]="{'is-valid': form.controls.body.valid,
                            'is-invalid': form.controls.body.errors && form.controls.body.dirty}"></textarea>
      <ul [ngClass]="{'valid-feedback': form.controls.body.valid,
                      'invalid-feedback': form.controls.body.errors && form.controls.body.dirty}">
        <li *ngIf="form.controls.body.errors?.required && form.controls.body.dirty">This field is required</li>
        <li
          *ngIf="(form.controls.body.errors?.minlength || form.controls.body.errors?.maxlength) && form.controls.body.dirty">
          Length between 5 and 200
        </li>
        <li *ngIf="bodyMessage">{{ bodyMessage }}</li>
      </ul>
    </div>
    <button [disabled]="processing || !form.valid" type="submit" class="btn btn-primary" (click)="onBugsSubmit()">
      Submit
    </button>
    <button [disabled]="processing" type="button" class="btn btn-secondary" (click)="goBack()">Cancel</button>
  </form><!-- Bugs form -->
</div>
