<div class="container">
  <h1 class="page-header">Blog Page</h1>
  <hr>
  <!-- Message -->
  <div class="show-hide-message" *ngIf="message">
    <div [ngClass]="messageClass">
      {{ message }}
    </div>
  </div>

  <!-- Control button -->
  <div *ngIf="!newPost">
    <button type="button" class="btn btn-info blogBtn" (click)="newBlogForm()">New Post</button>
    <button [disabled]="loadingBlog" type="button" class="btn btn-secondary blogBtn" (click)="reloadBlog()">
      <div class="material-icons md-18">autorenew</div>Reload
    </button>
  </div>

  <!-- New Blog form -->
  <form [formGroup]="form" name="blogForm" (submit)="onBlogSubmit()" *ngIf="newPost">
    <div class="form-group">
      <label for="blogTitle">Title</label>
      <input type="title" class="form-control" id="blogTitle"
             placeholder="Title" formControlName="title"
             [ngClass]="{'is-valid': form.controls.title.valid,
                       'is-invalid': form.controls.title.errors && form.controls.title.dirty}">
      <ul [ngClass]="{'valid-feedback': form.controls.title.valid,
                    'invalid-feedback': form.controls.title.errors && form.controls.title.dirty}">
        <li *ngIf="form.controls.title.errors?.required && form.controls.title.dirty">This field is required</li>
        <li *ngIf="(form.controls.title.errors?.minlength || form.controls.title.errors?.maxlength) && form.controls.title.dirty">Length between 5 and 50</li>
        <li *ngIf="form.controls.title.errors?.titleValidator && form.controls.title.dirty">Blog title should include only letters and number</li>
        <li *ngIf="titleMessage">{{ titleMessage }}</li>
      </ul>
    </div>
    <div class="form-group">
      <label for="exampleTextarea">Blog</label>
      <textarea class="form-control" id="exampleTextarea" rows="10" cols="50"
                formControlName="body"
                [ngClass]="{'is-valid': form.controls.body.valid,
                       'is-invalid': form.controls.body.errors && form.controls.body.dirty}"></textarea>
      <ul [ngClass]="{'valid-feedback': form.controls.body.valid,
                    'invalid-feedback': form.controls.body.errors && form.controls.body.dirty}">
        <li *ngIf="form.controls.body.errors?.required && form.controls.body.dirty">This field is required</li>
        <li *ngIf="(form.controls.body.errors?.minlength || form.controls.body.errors?.maxlength) && form.controls.body.dirty">Length between 5 and 200</li>
        <li *ngIf="bodyMessage">{{ bodyMessage }}</li>
      </ul>
    </div>
    <button [disabled]="processing || !form.valid" type="submit" class="btn btn-primary" (click)="onBlogSubmit()">Submit</button>
    <button [disabled]="processing" type="button" class="btn btn-secondary" (click)="goBack()">Go Back</button>
  </form><!-- Blog form -->

  <!-- Blog List -->
  <div *ngIf="!newPost">
    <app-blog-item *ngFor="let blog of blogPosts" [blog]="blog" [username]="username" (updateBlogs)="getAllBlogs()"></app-blog-item>
  </div>



</div>

