<div class="container col-sm-12 col-md-10 col-lg-8">
  <h1 class="page-header">Blog Edit Page</h1>
  <hr>
  <div class="show-hide-message">
    <div [ngClass]="messageClass">
      {{ message }}
    </div>
  </div>

  <div name="blogForm" (submit)="onEditBlogSubmit()" *ngIf="!loading">
    <div class="form-group">
      <label for="blogTitle">Title</label>
      <input [disabled]="processing" type="title" class="form-control" id="blogTitle"
             placeholder="Title" [(ngModel)]="blog.title">
    </div>
    <div class="form-group">
      <label for="blogBodyArea">Blog</label>
      <textarea [disabled]="processing" class="form-control" id="blogBodyArea" rows="10" cols="50"
                [(ngModel)]="blog.body" placeholder="Blog body"></textarea>
    </div>
    <button [disabled]="processing" type="submit" class="btn btn-primary" (click)="onEditBlogSubmit()">Save changes</button>
    <button [disabled]="processing" type="button" class="btn btn-danger">Delete</button>
    <button [disabled]="processing" type="button" class="btn btn-secondary" (click)="goBack()">Go Back</button>
  </div><!-- Blog form -->


</div>
